
form {
    position: relative;
    width: 450px;
    margin: 50px 0 0 -30px;
    padding: 0;
    
}
input {
    width: 450px;
    height: 30px;
    padding: 20px 15px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 999999px;
}

input:focus{
    outline: none;
}
input::placeholder {
    color: rgb(219, 219, 219);
}
.submit {
    background-color: transparent;
    width: fit-content;
    height: fit-content;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}